@model TMS.ViewModelLayer.Models.Tags.Pages.DeleteTagPageModel

@{
    ViewData["Title"] = "Delete Tag: " + Model.Name;
}

<h2>@ViewData["Title"].</h2>
<hr />

<form asp-controller="Tags" asp-action="Delete" method="post" class="form-horizontal">
    <input hidden="hidden" asp-for="Id"/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>Are you sure you would like to delete the tag <b>@Model.Name</b>?</p>
    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </div>
</form>

