<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TMS</title>
    <link rel="stylesheet" href="@Url.Content("~/built/bundle.css")" />
</head>
<body>
    <div id="content" style="height: 100%;">

    </div>

    <script src="@Url.Content("~/built/main.bundle.js")"></script>
</body>
</html>