.app--container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .app--main-content {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
    }

    .app--breadcrumbs {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app--children {
        flex: 9;
    }

    .app--navigation-bar {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        align-items: center;
    }
}
