.area-list-item {
    padding: 20px;
    flex-basis: 25em;
    flex-grow: 1;

    .area-list-item-heading {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 18px;

        .area-title-menu {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
        }

        .area-menu-icon {
            cursor: pointer;
            padding-right: .5em;
        }
    }
}
