.area-list-container{
    display: flex;
    flex-flow: column;
    align-items: center;

    @media (max-width: 600px){
        .area-list{
            width: 100%;
        }
    }

    .area-actions {
        width: 80%;
        align-self: center;
    }

    .area-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: stretch;
        justify-content: center;
        width: 80%;

        .area-list-item-add{
            @extend .area-list-item;

            a {
                cursor: pointer;
                text-decoration: none;
            }

            a:hover{
                text-decoration: none;
            }
        }

        .area-list-item-add-icon{
            font-size: 4em;
        }

        .area-list-item-add-icon-plus{
            margin-left: 5px;
            font-size: 1.5em;
        }

        .area-list-item-add-content{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex: 1 0 25%;
        }

        .area-list-item-add-content:hover{
            opacity: 1;
        }
    }
}
