.area-create {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    width: 50%;
}
