.navigation-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-around;
    width: 75%;
    margin-top: 50px;
    background-color: #eee;
    border-radius: 50px;
}

.navigation-bar-title {
    flex: 2;
    margin-left: 50px;
}

@media (max-width: 600px) {
    .navigation-bar {
        width: 100%;
    }
}

.navigation-bar-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    align-self: center;

    list-style-type: none;
    padding:0;
    margin: 0;

    .navigation-bar-list-item a {
        font-size: 2.5em;
        color: #393838;
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    @media (max-width:600px) {
        .navigation-bar-list-item a {
            font-size: 1.5em;
        }
    }

    .navigation-bar-list-item:hover{
        text-decoration: underline;
        text-shadow: 0 0 2px #ccc;
    }

    .navigation-bar-list-item:active{
        padding-top: 2px;
    }
}
