@model IEnumerable<TMS.ViewModelLayer.Models.Tags.TagListItemViewModel>

@if (Model.Any())
{
    <div class="panel panel-info">
        <div class="panel-heading">
            Tags
        </div>
        <div class="panel-body">
            @foreach (var tag in Model)
            {
                <a asp-action="Edit" class="btn btn-default" asp-controller="Tags" asp-route-id="@tag.Id">@tag.Name</a>
            }
        </div>
    </div>
}
else
{
    <p class="text-center">No tags found.</p>
}