@import url(https://fonts.googleapis.com/css?family=Poppins);button:hover {
  background-color: #c6c0c0; }

button {
  background-color: #eee;
  border: none;
  color: black;
  padding: 11px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px; }

hr {
  border: 0;
  height: 2px;
  background: white; }

a {
  color: #393838;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  text-shadow: 0 0 2px #ccc; }

a:active {
  padding-top: 2px; }

h1 {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 64px;
  font-weight: normal; }

h2 {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 2.85px; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-image: linear-gradient(to bottom left, #A4FFF6, #A4FFF6 66%, white 33%, white);
    background-size: cover;
    background-repeat: no-repeat;*/
  /*background: #A4FFF6;*/
  color: #6a6868;
  font: normal 14px/21px "Helvetica Neue", "Helvetica", "Arial", "Tahoma", "Geneva", sans-serif;
  font-size: 14px; }

.root-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

textarea {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  width: 100%; }

textarea:focus {
  outline: none; }

textarea {
  padding: 10px;
  border: solid 2px #f5f5f5;
  transition: box-shadow 0.3s, border 0.3s; }

textarea:focus,
textarea.focus {
  border: solid 2px #f5f5f5;
  box-shadow: 0 0 5px 1px #79d5f0; }

input {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: 4px; }

input:focus {
  outline: none; }

input {
  padding: 10px;
  border: solid 2px #f5f5f5;
  transition: box-shadow 0.3s, border 0.3s; }

input:focus,
input.focus {
  border: solid 2px #f5f5f5;
  box-shadow: 0 0 5px 1px #79d5f0; }
.footer {
  display: flex;
  justify-content: center; }
.header {
  display: flex;
  justify-content: center; }
.navigation-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
  width: 75%;
  margin-top: 50px;
  background-color: #eee;
  border-radius: 50px; }

.navigation-bar-title {
  flex: 2;
  margin-left: 50px; }

@media (max-width: 600px) {
  .navigation-bar {
    width: 100%; } }

.navigation-bar-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  align-self: center;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .navigation-bar-list .navigation-bar-list-item a {
    font-size: 2.5em;
    color: #393838;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold; }
  @media (max-width: 600px) {
    .navigation-bar-list .navigation-bar-list-item a {
      font-size: 1.5em; } }
  .navigation-bar-list .navigation-bar-list-item:hover {
    text-decoration: underline;
    text-shadow: 0 0 2px #ccc; }
  .navigation-bar-list .navigation-bar-list-item:active {
    padding-top: 2px; }
.app--container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch; }
  .app--container .app--main-content {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap; }
  .app--container .app--breadcrumbs {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .app--container .app--children {
    flex: 9; }
  .app--container .app--navigation-bar {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: center; }
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%; }
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch; }

.login-form--heading {
  text-align: center; }

.login-form > div {
  padding: 20px; }

.login-form--body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: flex-start; }

.login-form--row {
  flex: 1 0 100%;
  align-self: flex-end;
  padding: 10px; }

.form-label {
  margin-right: 10px; }
.area-list-item {
  padding: 20px;
  flex-basis: 25em;
  flex-grow: 1; }
  .area-list-item .area-list-item-heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 18px; }
    .area-list-item .area-list-item-heading .area-title-menu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center; }
    .area-list-item .area-list-item-heading .area-menu-icon {
      cursor: pointer;
      padding-right: .5em; }
.page-container {
  display: flex;
  flex-flow: column;
  align-items: center; }

.page-container {
  margin-top: 50px; }
  .page-container .page-body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; }
  .page-container .page-header {
    align-content: flex-start;
    padding-left: 30px; }
  .page-container .page-actions, .page-container .page-body, .page-container .page-header {
    width: 80%; }
  @media (max-width: 600px) {
    .page-container .page-body, .page-container .page-actions, .page-container .page-header {
      width: 100%; } }
  .page-container .page-actions button {
    margin: 10px; }
  .page-container .page-actions {
    align-self: center; }
.loading {
  display: flex;
  justify-content: center; }
  .loading .loading-icon {
    font-size: 4em; }

.area-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center; }
.loading {
  display: flex;
  justify-content: center; }
  .loading .loading-icon {
    font-size: 4em; }

.area-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center; }
.area-create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap; }

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 50%; }
.form-input-label {
  padding-right: 20px; }

.form-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 20px;
  width: 100%; }
.form-input-label {
  padding-right: 20px; }

.form-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 20px;
  width: 100%; }

/*# sourceMappingURL=bundle.css.map*/